* {
    box-sizing: border-box;
  }

body {
    background-color: white;
}

.grid-container {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: white;
  }
  .grid-container2 {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    background-color: white;
  }

  .grid-container > div {
    background-color:white;
    text-align: left;
    
    font-size: large;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 5px;
    /* padding: 5px; */
  }

 

  .grid-container2 > div {
    background-color:white;
    text-align: center;
    
    font-size: large;
    border-color: darkblue;
    border-style: solid;
  }

.item1{
    grid-column-start: 1;
    grid-column-end: 7;
   
    /* grid-column: 1 / span 3; */
    
}
.item2{
    grid-row-start: 2;
    grid-row-end: 6;
    
    
    /* width: 30%; */
}

.item3{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 7;
    
    
    /* width: 30%; */
}

.item4{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 7;
    grid-row-end: 6;
    padding:10px;
}
/* 
.item1-2{
    grid-column-start: 1;
    
    grid-column-end: 2;
    
}
.item2-2{
    grid-column-start: 2;
    
    grid-column-end: 3;
    
}
.item3-2{
    grid-column-start: 3;
    
    grid-column-end: 4;


    
}
.item4-2{
    grid-column-start: 4;
    
    grid-column-end: 5;
    
}
.item5-2{
    grid-column-start: 5;
    
    grid-column-end: 6;
    
} */

.cityName{
    font-weight: bold;
}

header {
    font-weight: bolder;
    font-size: x-large;
}

.UVcolor-red{
    background-color: red;
    color:white;
    border-radius: 3px;
}

.UVcolor-green{
    background-color:green;
    color:white;
    border-radius: 3px;
}

.UVcolor-orange{
    background-color:orangered;
    color:white;
    border-radius: 3px;
}

.div3{
    padding-left: 20px;
    padding-top:20px;
}